<footer id="site-footer">

  <section id="footer-bottom" class="section dark">

      <!-- start container -->
      <div class="container">

          <!-- start row -->
          <div class="row">

              <!-- start copyright -->
              <div class="col-18">
                  <p class="copyright">
                      &copy; BackOffice
                  </p>
              </div>
              <!-- end copyright -->

              <!-- start footer nav -->
              <div class="col-18">
                  <nav id="footer-nav" class="nav horizontal text-right">
                    <ul class="dropdown">
                      <li><%= link_to "Home", root_path %></li>
                      <li><%= link_to "FAQ", faq_path %></li>
                      <li><%= link_to "What We Do", what_we_do_path %></li>
                      <li><%= link_to "Pricing", pricing_path %></li>
                      <li><%= link_to "Contact Us", contact_us_path %></li>
                    </ul>
                  </nav>
              </div>

              <!-- end footer nav -->

          </div>
          <!-- end row -->

      </div>
      <!-- end container -->

  </section>
  <!-- end footer bottom -->

</footer>
