<%= render "pages/navbar" %>
<main id="main">

            <!-- start page title section -->
            <section class="page-title section dark" style="background-color:#3296c9;">
                <div class="container">
                    <div class="row">
                        <div class="col-9">

                            <!-- start page title -->
                            <header class="section-header content-header">
                                <h1 class="title">How to Delegate your Email</h1>
                                <!-- <p style="color:white;" class="subtitle lead">We get these questions. Frequently.</p> -->
                            </header>
                            <!-- end page title -->

                        </div>

                        <div class="col-27">
                            <!-- an empty space, you can add image or additional text here -->
                        </div>
                    </div>
                </div>
            </section>
            <!-- end page title section -->

            <!-- start main content -->
            <section id="main-content" class="section light">

                <!-- start container -->
                <div class="container">

                    <!-- start section content -->
                    <div class="section-content row">

                        <!-- start primary -->
                        <div id="primary" class="col-9">
                          <h2>Step 1</h2>
                          <%= image_tag "email_deleagation_google_step_1.png" %>
                          <h2>Step 2</h2>
                          <%= image_tag "email_deleagation_google_step_2.png" %>
                          <h2>Step 3</h2>
                          <%= image_tag "email_deleagation_google_step_3.png" %>
                          <h2>Step 4</h2>
                          <%= image_tag "email_deleagation_google_step_4.png" %>

                        </div>
                        <!-- end primary -->

                    </div>
                    <!-- end section content -->

                </div>
                <!-- end container -->

            </section>
            <!-- end main content -->

        </main>
<%= render "pages/footer" %>
