<%= render "pages/navbar" %>
<main id="main">

            <!-- start page title section -->
            <section class="page-title section dark" style="background-color:#3296c9;">
                <div class="container">
                    <div class="row">
                        <div class="col-9">

                            <!-- start page title -->
                            <header class="section-header content-header">
                                <h1 class="title">The FAQ's</h1>
                                <p style="color:white;" class="subtitle lead">We get these questions. Frequently.</p>
                            </header>
                            <!-- end page title -->

                        </div>

                        <div class="col-27">
                            <!-- an empty space, you can add image or additional text here -->
                        </div>
                    </div>
                </div>
            </section>
            <!-- end page title section -->

            <!-- start main content -->
            <section id="main-content" class="section light">

                <!-- start container -->
                <div class="container">

                    <!-- start section content -->
                    <div class="section-content row">

                        <!-- start primary -->
                        <div id="primary" class="col-9">

                            <!-- start page entry -->
                            <article class="page-entry">
                                <dl class="accordion">
                                    <dt class="accordion-trigger"> Is there a minimum commitment or contract?</dt>
                                    <dd class="accordion-content">
                                        <p>No! Your service is month to month and can be ended at any time.</p>
                                    </dd>

                                    <dt class="accordion-trigger"> What specifically can my assistant do?</dt>
                                    <dd class="accordion-content">
                                        <p>It's a long list, check it out <%= link_to "here", what_we_do_path %>.</p>
                                    </dd>

                                    <dt class="accordion-trigger"> Will a different person help me with every new task?</dt>
                                    <dd class="accordion-content">
                                        <p>No! You get a dedicated assistant. We call them BackOfficers. Your BackOfficer will be your one-stop place to access all of our services. They will take care of you!</p>
                                    </dd>

                                    <dt class="accordion-trigger"> Where are you located?</dt>
                                    <dd class="accordion-content">
                                        <p>We are proudly located in the great Salt Lake City, Utah. All of our assistants are located in the United States and northern Mexico, and speak fluent professional English.</p>
                                    </dd>

                                    <dt class="accordion-trigger"> Do you work on the weekends?</dt>
                                    <dd class="accordion-content">
                                        <p>Our standard hours are Monday - Friday, 9 am - 6 pm, MST. That said, we do sometimes have emergency staff on hand for the weekends. If you have an emergency request email us <%= link_to "here", "mailto:trevor@trybackoffice.com" %>, and we'll see what we can do.</p>
                                    </dd>

                                </dl>

                                <div class="separator"></div>

                                <h3>Couldn't find your answer?</h3>

                                <p>Send us an email with your question <%= link_to "here", contact_us_path %>, or request a phone call from <%= link_to "a real human", request_phone_call_path %>.</p>

                            </article>
                            <!-- end page entry -->

                        </div>
                        <!-- end primary -->

                    </div>
                    <!-- end section content -->

                </div>
                <!-- end container -->

            </section>
            <!-- end main content -->

        </main>
<%= render "pages/footer" %>
