<%= render "pages/navbar" %>
<main id="main">

            <!-- start page title section -->
            <section class="page-title section dark" style="background-color:#3296c9;">
                <div class="container">
                    <div class="row">
                        <div class="col-9">

                            <!-- start page title -->
                            <header class="section-header content-header">
                                <h1 class="title">The FAQ's</h1>
                                <p style="color:white;" class="subtitle lead">We get these questions. Frequently.</p>
                            </header>
                            <!-- end page title -->

                        </div>

                        <div class="col-27">
                            <!-- an empty space, you can add image or additional text here -->
                        </div>
                    </div>
                </div>
            </section>
            <!-- end page title section -->

            <!-- start main content -->
            <section id="main-content" class="section light">

                <!-- start container -->
                <div class="container">

                    <!-- start section content -->
                    <div class="section-content row">

                        <!-- start primary -->
                        <div id="primary" class="col-9">

                            <!-- start page entry -->
                            <article class="page-entry">
                                    <h3 style="font-size:20px;"> How does the 7-day free trial work?</h3>
                                        <p style="font-size:15px;">You get a BackOffice Assistant, with access to all of the <%= link_to "BackOffice Services", what_we_do_path %>. You can use them for 7-days or 3 hours, whichever comes first. Please note that a credit card is required to start the free trial.</p>
                                        <br>

                                    <h3 style="font-size:20px;"> How exactly does this work? Do I work with one person or a bunch?</h3>
                                        <p style="font-size:15px;">When you sign up you're assigned one of our BackOffice Assistants. You'll always work with that person; they're the only one you need to know.</p>
                                        <p style="font-size:15px;">Behind the scenes your BackOffice Assistant will work with our internal team of writers, marketers, and others to accomplish whatever you need to get done. It's like having five employees for less than the price of one, with zero commitment or HR.</p>
                                        <br>

                                    <h3 style="font-size:20px;"> Where are you located?</h3>
                                        <p style="font-size:15px;">We work out of our offices in the great Salt Lake City, Utah.</p>
                                        <br>

                                    <h3 style="font-size:20px;"> What are the BackOffice Services?</h3>
                                        <p style="font-size:15px;">It's a long list, check it out <%= link_to "here", what_we_do_path %>.</p>
                                        <br>

                                      <h3 style="font-size:20px;"> What happens if I don't use all my hours? Do they rollover?</h3>
                                        <p style="font-size:15px;">Unfortunately we can't rollover hours because we pay our staff whether you use them or not. :-) If you don't think you'll use all your hours, just let us know and we'll downgrade you to a smaller plan.</p>
                                        <br>

                                    <h3 style="font-size:20px;"> Is there a minimum commitment or contract?</h3>
                                        <p style="font-size:15px;">Nope! Your service is month to month and can be ended at any time.</p>
                                        <br>

                                    <h3 style="font-size:20px;"> How do I communciate with my BackOffice Assistant?</h3>
                                        <p style="font-size:15px;">However you want! Text, email, phone... we want to make it as easy as possible for you.</p>
                                        <p style="font-size:15px;">We also use whatever project management software you like (Trello, Basecamp, etc.) so you don't have to change your habits to get our help.</p>
                                        <br>

                                    <h3 style="font-size:20px;"> Does my BackOffice Assistant have a dedicated phone number?</h3>
                                        <p style="font-size:15px;">Yep. We'll get you their phone number as soon as you sign up.</p>
                                        <br>

                                    <h3 style="font-size:20px;"> Do you work on the weekends?</h3>
                                        <p style="font-size:15px;">Our standard hours are Monday - Friday, 9 am - 6 pm, MST. That said, we do sometimes have emergency staff on hand for the weekends. If you have an emergency request email us <%= link_to "here", "mailto:trevor@trybackoffice.com" %>, and we'll see what we can do.</p>
                                        <br>

                                    <h3 style="font-size:20px;"> Why would I do this when I could hire an employee to work in person?</h3>
                                        <p style="font-size:15px;">Employees come with significant commitments and legal burdens. What happens if the job you hired for is no longer needed? What if you only need a few hours of work a week? If the employee quits?</p>
                                        <p style="font-size:15px;">With BackOffice you get access to all our <%= link_to "BackOffice Services", what_we_do_path %> for less than the price of one employee. And you only have to work through a single person.</p>
                                        <p style="font-size:15px;">As you get more or less work, we can scale up and down with you. There's no commitment, so if the work goes away you can cancel or downgrade your plan. </p>


                                <div class="separator"></div>

                                <h3>Couldn't find your answer?</h3>

                                <p>Send us an email with your question <%= link_to "here", contact_us_path %>, or request a phone call from <%= link_to "a real human", request_phone_call_path %>.</p>

                            </article>
                            <!-- end page entry -->

                        </div>
                        <!-- end primary -->

                    </div>
                    <!-- end section content -->

                </div>
                <!-- end container -->

            </section>
            <!-- end main content -->

        </main>
<%= render "pages/footer" %>
