<%= render "pages/navbar" %>
<main id="main">
            <!-- start banner -->
  <section id="banner" class="tp-banner-container section">

      <!-- start rev slider -->
      <div class="tp-banner" >
          <ul>

              <!-- slide two -->
              <li data-transition="boxfade" data-slotamount="5" data-masterspeed="1000">

                  <!-- slide bg -->
                  <%= image_tag "slide-bg-2.jpg", "data-bgfit" => "cover", "data-bgposition" => "left top", "data-bgrepeat" => "no-repeat"  %>

                  <!-- slide layer 1 -->
                  <div class="tp-caption sfb"
                  data-x="-10"
                  data-y="50"
                  data-speed="1500"
                  data-start="800"
                  data-easing="Back.easeInOut">
                  <%= image_tag "woman.png" %>
                  </div>

                  <!-- slide layer 2 -->
                  <div class="tp-caption sfl large-medium-black"
                  data-x="550"
                  data-y="130"
                  data-speed="1500"
                  data-start="1000"
                  data-easing="Back.easeInOut">
                    Month-to-month Assistants for<br>Small Businesses<br>
                  </div>

                  <!-- slide layer 3 -->
                  <div class="tp-caption sfl grey"
                  data-x="550"
                  data-y="180"
                  data-speed="1500"
                  data-start="1300"
                  data-easing="Back.easeInOut"
                  style="font-size:16px; line-height: 30px;">
                      <br>
                      - Avoid the commitment of another employee
                      <br>
                      - Tons of services through just one online, US-based assistant
                      <br>
                      - Start with a 7-day free trial
                  </div>

                  <!-- slide layer 4 -->
                  <div class="tp-caption sfl"
                  data-x="550"
                  data-y="320"
                  data-speed="1500"
                  data-start="1600"
                  data-easing="Back.easeInOut">
                      <a href="<%= request_invite_path %>" class="button medium primary">Request Invite</a>
                      <a href="<%= what_we_do_path %>" class="button medium white">Learn More</a>
                  </div>
              </li>
          </ul>
      </div>
      <!-- end rev slider -->

      <!-- initialize slider -->
      <script type="text/javascript">
          $(document).ready(function() {
              $('.tp-banner').revolution({
                  startwidth: 1050,
                  startheight: 500,
                  hideThumbs: 10,
                  fullWidth: 'on',
                  forceFullWidth: 'on',
                  videoJsPath:'src/rs-plugin/videojs/'
              });
          });
      </script>

  </section>
            <!-- end banner -->

            <!-- start section -->
  <section id="section-services" class="section light">

      <!-- start container -->
      <div class="container">

          <!-- start section content -->
          <div class="section-content">

              <!-- start section header -->
              <header class="content-header section-header text-center">
                  <h2>One BackOffice Assistant to Get All Your Work Done</h2>
                  <p class="lead">Your BackOffice Assistant gives you access to all the <%= link_to "BackOffice Services", what_we_do_path %></p>
              </header>
              <!-- end section header -->

              <!-- start iconboxes -->
              <div class="iconboxes row">

                  <!-- iconbox 1 -->
                  <div class="col-27">
                      <aside class="iconbox text-center">
                          <div class="icon circle purple large">
                              <i class="fa fa-sun-o"></i>
                          </div>
                          <div class="iconbox-content">
                              <h3 class="title">Administrative Assistance</h3>
                              <p>Anything from handwriting thank-you letters to researching health insurance to interviewing potential bookkeepers.</p>
                          </div>
                      </aside>
                  </div>

                  <!-- iconbox 2 -->
                  <div class="col-27">
                      <aside class="iconbox text-center">
                          <div class="icon circle green large">
                              <i class="fa fa-phone"></i>
                          </div>
                          <div class="iconbox-content">
                              <h3 class="title">Receptionist</h3>
                              <p>Process phone orders, provide customer support, make follow-up calls, and more.</p>
                          </div>
                      </aside>
                  </div>

                  <!-- iconbox 3 -->
                  <div class="col-27">
                      <aside class="iconbox text-center">
                          <div class="icon circle red large">
                              <i class="fa fa-dollar"></i>
                          </div>
                          <div class="iconbox-content">
                              <h3 class="title">Billing &amp; Collections</h3>
                              <p>We'll send invoices and make friendly phone calls to collect on past-due payments.</p>
                          </div>
                      </aside>
                  </div>

                  <!-- iconbox 4 -->
                  <div class="col-27">
                      <aside class="iconbox text-center">
                          <div class="icon circle blue large">
                              <i class="fa fa-wordpress"></i>
                          </div>
                          <div class="iconbox-content">
                              <h3 class="title">Website Assistance</h3>
                              <p>We'll get Wordpress setup and even write your blog posts. Need to send email newsletters? We setup and write those, too.</p>
                          </div>
                      </aside>
                  </div>

              </div>
              <!-- end iconboxes -->


          </div>


          <header class="content-header text-center">
              <p class="lead">See the full <%= link_to "BackOffice Services", what_we_do_path %> list.</p>
          </header>
          <!-- end section content -->
          <header class="content-header section-header text-center">
              <p class="lead">Or, <%= link_to "see tasks we've recently done", example_tasks_path %> for our customers.</p>
          </header>

      </div>
      <!-- end container -->

  </section>
            <!-- end section -->

<section id="section-callout" class="section complex pad50 section-bg-1" data-overlay="#202020" data-overlay-opacity="0.8" data-pattern="line" data-pattern-opacity="0.9">

    <!-- start container -->
    <div class="container">

        <!-- start section content -->
        <div class="section-content">
            <!-- start section header -->
            <header class="content-header section-header text-center" style="margin-bottom:10px;">
                <h2>Customers Who Rely On BackOffice</h2>
            </header>
            <!-- end section header -->

            <!-- start clients -->
            <div class="clients row">

                <div class="col-30">
                    <%= image_tag "smug.png", :style => "width:80%; margin-top:5%;" %></a>
                </div>

                <div class="col-30">
                    <%= image_tag "burnett.png", :style => "max-width:100%;" %></a>
                </div>

                <div class="col-30">
                    <%= image_tag "simple_nexus_logo.png", :style => "margin-top:5%;" %></a>
                </div>

                <div class="col-30">
                    <%= image_tag "kickstart-seed-fund-logo.gif", :style => "margin-top:5%;" %></a>
                </div>

                <div class="col-30">
                    <%= image_tag "social-dental-logo.png", :style => "margin-top:5%;" %></a>
                </div>

                <div class="col-30">
                    <%= image_tag "brooke.png", :style => "margin-top:5%;" %></a>
                </div>

            </div>
            <!-- end clients -->

        </div>
        <!-- end section content -->

    </div>
    <!-- end container -->

</section>

            <!-- start section -->
  <section id="section-teaser" class="section light parallax section-bg-1" data-overlay="#FFFFFF" data-overlay-opacity="0.90">

      <!-- start container -->
      <div class="container">

          <!-- start section content -->
          <div class="section-content" style="padding-bottom: 0">

              <!-- start row -->
              <div class="row">
                  <div class="col-16">
                    <%= image_tag "girl.png" %>
                  </div>

                  <div class="col-20" style="margin-top:100px;">
                      <div class="clearfix" style="height: 10px;"></div>

                      <h1>You Need This</h1>

                      <h5>Whether you're running a business or a family, you know<br>you have better things to do than book another flight.<br></h5>


                      <div class="row">
                          <div class="col-18">
                              <ul class="unstyled">
                                  <li><i class="fa fa-dot-circle-o"></i> Write your email newsletters</li>
                                  <li><i class="fa fa-dot-circle-o"></i> Answer phone calls</li>
                                  <li><i class="fa fa-dot-circle-o"></i> Order/ship gifts</li>
                                  <li><i class="fa fa-dot-circle-o"></i> Research competitors</li>
                              </ul>
                          </div>
                          <div class="col-18">
                              <ul class="unstyled">
                                  <li><i class="fa fa-dot-circle-o"></i> Schedule meetings</li>
                                  <li><i class="fa fa-dot-circle-o"></i> Book travel arrangements</li>
                                  <li><i class="fa fa-dot-circle-o"></i> Do follow up phone calls</li>
                                  <li><i class="fa fa-dot-circle-o"></i> Research health insurance plans</li>
                              </ul>
                          </div>
                      </div>

                      <p>
                          <a style="color:white;" href="<%= what_we_do_path %>" class="button medium red"> Learn More</a>
                      </p>
                  </div>

              </div>
              <!-- end row -->

          </div>
          <!-- end section content -->

      </div>
      <!-- end container -->

  </section>

  <section id="section-quotes" class="section dark section-video" data-overlay="#202020" data-overlay-opacity="0.8" data-pattern="dot" data-pattern-opacity="0.9">

      <video autoplay="autoplay" preload="auto" muted loop poster="http://www.kingthemes.com/preview/casanova/html/assets/videos/waves.jpg">
          <source src="http://www.kingthemes.com/preview/casanova/html/assets/videos/waves.mp4" type="video/mp4">
          <source src="http://www.kingthemes.com/preview/casanova/html/assets/videos/waves.webm" type="video/webm">
          <source src="http://www.kingthemes.com/preview/casanova/html/assets/videos/waves.ogv" type="video/ogv">
      </video>

      <!-- start container -->
      <div class="container">

          <!-- start section content -->
          <div class="section-content">
            <header class="content-header text-center">
                <h2>Customers Like Us</h2>
            </header>
            <br><br>

              <!-- start quote rotator -->
              <div class="quote-rotator">
                  <div class="bxslider">

                      <blockquote class="quote text-center">
                          <p class="quote-text">BackOffice saved me the cost of hiring a full-time employee.</p>
                          <cite>Jessica M.</cite>
                      </blockquote>

                      <blockquote class="quote text-center">
                          <p class="quote-text">I think they're brilliant.</p>
                          <cite>Matt H.</cite>
                      </blockquote>

                      <blockquote class="quote text-center">
                          <p class="quote-text">You are way too fast.<br>You’re finishing tasks before we're even done talking about them.</p>
                          <cite>Dave S.</cite>
                      </blockquote>

                      <blockquote class="quote text-center">
                          <p class="quote-text">They're great because I don't always know how much work I have. But I can give as much or as little as I like to BackOffice</p>
                          <cite>Ben M.</cite>
                      </blockquote>


                  </div>
              </div>
              <!-- end quote rotator -->

          </div>
          <!-- end section content -->

      </div>

    </div>
      <!-- end container -->

  </section>

  <section id="section-callout" class="section dark" style="background-color:#3296c9;">

      <!-- start container -->
      <div class="container">

          <!-- start section content -->
          <div class="section-content">

              <!-- start callout -->
              <div class="callout">
                  <div class="callout-text">
                      <h2>Have more questions? Talk to a real human.</h2>
                      <p style="color:white;">No obligations, just quick answers.</p>
                  </div>

                  <div class="callout-button">
                      <a style="color:black;" href="<%= request_phone_call_path %>" class="button medium yellow"><i class="fa fa-phone"></i> Request Phone Call</a>
                  </div>
              </div>
              <!-- end callout -->

          </div>
          <!-- end section content -->

      </div>
      <!-- end container -->

  </section>
            <!-- end section -->

</main>

<%= render "pages/footer" %>
