<%= render "pages/navbar" %>
<main id="main">

            <!-- start page title section -->

            <section class="page-title section dark" style="background-color:#3296c9;">
                <div class="container">
                    <div class="row">
                        <div class="col-9"></div>

                        <div class="col-27">
                            <!-- an empty space, you can add image or additional text here -->
                        </div>
                    </div>
                </div>
            </section>
            <!-- end page title section -->

            <!-- start section -->
            <section class="section light">

                <!-- start container -->
                <div class="container">

                    <!-- start section content -->
                    <div class="section-content">

                        <!-- start section header -->
                        <header class="content-header section-header text-center">
                            <h2>Heaven Knows Your Time is More Valuable Than Ours</h2>
                            <p class="lead">All plans start with a 7-day free trial</p>
                            <p>(<%= link_to "How does the free trial work?", faq_path %>)</p>
                        </header>
                        <!-- end section header -->

                        <!-- start pricing -->
                        <div class="pricing row collapsed">

                            <!-- plan 1 -->

                            <div class="col-27">
                                <div class="plan text-center">
                                    <header class="plan-header">
                                        <h3 class="plan-title">Starter Plan</h3>
                                        <div class="plan-price">10 Hours</div>
                                        <h8>per month</h8>
                                        <br><br>
                                        <h2>&dollar;299/mo</h2>
                                    </header>
                                    <div class="plan-content">
                                        <span class="plan-icon icon medium"><i class="fa fa-home"></i></span>
                                        <ul>
                                            <li><%= link_to "All the BackOffice Services", what_we_do_path %></li>
                                            <li>10am - 4pm Availability</li>
                                            <li>Next day Turnaround</li>
                                        </ul>
                                    </div>
                                    <footer class="plan-footer">
                                        <a href="<%= request_invite_path %>" class="button orange">Request Invite</a>
                                    </footer>
                                </div>
                            </div>

                            <!-- plan 2 -->
                            <div class="col-27">
                                <div class="plan text-center recommended">
                                    <header class="plan-header">
                                        <h3 class="plan-title">Regular Plan</h3>
                                        <div class="plan-price">20 hours</div>
                                        <h8>per month</h8>
                                        <br><br>
                                        <h2>&dollar;499/mo</h2>
                                    </header>
                                    <div class="plan-content">
                                        <span class="plan-icon icon medium"><i class="fa fa-home"></i></span>
                                        <ul>
                                            <li><%= link_to "All the BackOffice Services", what_we_do_path %></li>
                                            <li>9am - 6pm Availability</li>
                                            <li>Same day Turnaround</li>
                                        </ul>
                                    </div>
                                    <footer class="plan-footer">
                                        <a href="<%= request_invite_path %>" class="button orange">Request Invite</a>
                                    </footer>
                                </div>
                            </div>

                            <!-- plan 3 -->
                            <div class="col-27">
                                <div class="plan text-center">
                                    <header class="plan-header">
                                        <h3 class="plan-title">Premium Plan</h3>
                                        <div class="plan-price">30 hours</div>
                                        <h8>per month</h8>
                                        <br><br>
                                        <h2>&dollar;675/mo</h2>
                                    </header>
                                    <div class="plan-content">
                                        <span class="plan-icon icon medium"><i class="fa fa-home"></i></span>
                                        <ul>
                                            <li><%= link_to "All the BackOffice Services", what_we_do_path %></li>
                                            <li>9am - 6pm Availability</li>
                                            <li>Priority Turnaround</li>
                                        </ul>
                                    </div>
                                    <footer class="plan-footer">
                                        <a href="<%= request_invite_path %>" class="button orange">Request Invite</a>
                                    </footer>
                                </div>
                            </div>

                            <!-- plan 4 -->
                            <div class="col-27">
                                <div class="plan text-center">
                                    <header class="plan-header">
                                        <h3 class="plan-title">Enterprise Plan</h3>
                                        <div class="plan-price" style="font-size:31px;">Contact us</div>
                                        <h8></h8>
                                        <br><br>
                                        <h2><br></h2>
                                    </header>
                                    <div class="plan-content">
                                        <span class="plan-icon icon medium"><i class="fa fa-home"></i></span>
                                        <ul>
                                          <li><%= link_to "All the BackOffice Services", what_we_do_path %></li>
                                          <li>All Day Availability</li>
                                          <li>Rush Turnaround</li>
                                        </ul>
                                    </div>
                                    <footer class="plan-footer">
                                        <a href="<%= contact_us_path %>" class="button blue">Contact Us</a>
                                    </footer>
                                </div>
                            </div>
                        </div>
                        <!-- end pricing -->

                    </div>
                    <!-- end section content -->

                    <!-- start section content -->
                    <div class="section-content">

                        <!-- start section header -->
                        <header class="content-header section-header text-center">
                            <h2>Extra Bonuses for Every Plan</h2>
                        </header>
                        <!-- end section header -->

                        <!-- start iconboxes -->
                        <div class="iconboxes row">

                            <!-- iconbox 1 -->
                            <div class="col-24">
                                <aside class="iconbox text-left">
                                    <div class="icon circle primary medium">
                                        <i class="fa fa-phone"></i>
                                    </div>
                                    <div class="iconbox-content">
                                        <h4 class="title">Direct Line to CEO</h4>
                                        <p>Have questions or want a more detailed plan? Our CEO awaits your phone call.</p>
                                    </div>
                                </aside>
                            </div>

                            <!-- iconbox 2 -->
                            <div class="col-24">
                                <aside class="iconbox text-left">
                                    <div class="icon circle green medium">
                                        <i class="fa fa-money"></i>
                                    </div>
                                    <div class="iconbox-content">
                                        <h4 class="title">Money-back guarantee</h4>
                                        <p>If you're not happy with our service we'll refund any payment from the past 14 days. If you're not satisfied, we don't want your money.</p>
                                    </div>
                                </aside>
                            </div>

                            <!-- iconbox 3 -->
                            <div class="col-24">
                                <aside class="iconbox text-left">
                                    <div class="icon circle blue medium">
                                        <i class="fa fa-eye"></i>
                                    </div>
                                    <div class="iconbox-content">
                                        <h4 class="title">Transparent Pricing</h4>
                                        <p>What you see is what you pay. No "training fees", long-term contracts, or other fees to make you feel bad.</p>
                                    </div>
                                </aside>
                            </div>

                            <!-- separate here -->
                            <div class="clear"></div>

                            <!-- iconbox 4 -->
                            <div class="col-24">
                                <aside class="iconbox text-left">
                                    <div class="icon circle orange medium">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <div class="iconbox-content">
                                        <h4 class="title">Calendar Management</h4>
                                        <p>We book your appointments and make sure your calendar is in sync.</p>
                                    </div>
                                </aside>
                            </div>

                            <!-- iconbox 5 -->
                            <div class="col-24">
                                <aside class="iconbox text-left">
                                    <div class="icon circle purple medium">
                                        <i class="fa fa-lock"></i>
                                    </div>
                                    <div class="iconbox-content">
                                        <h4 class="title">Credit Card Integration</h4>
                                        <p>We can make purchases for you if you like. Your credit card info will be safely encrypted with LastPass, using state-of-the-art AES 256-bit encryption.</p>
                                    </div>
                                </aside>
                            </div>

                            <!-- iconbox 6 -->
                            <div class="col-24">
                                <aside class="iconbox text-left">
                                    <div class="icon circle red medium">
                                        <i class="fa fa-heart"></i>
                                    </div>
                                    <div class="iconbox-content">
                                        <h4 class="title">Served with Love</h4>
                                        <p>We would be honored to have you as a customer. If there's ever anything we're not doing right, please contact us so we can make it right.</p>
                                    </div>
                                </aside>
                            </div>

                        </div>
                        <!-- end iconboxes -->

                    </div>
                    <!-- end section content -->

                    <!-- start section content -->
                    <div class="section-content">

                        <!-- start callout -->
                        <div class="callout boxed">
                            <div class="callout-text">
                                <h2>Need something else?</h2>
                                <p class="lead">We'll put together a custom quote just for you.</p>
                            </div>
                            <div class="callout-button">
                                <a href="<%= contact_us_path %>" class="button medium primary"><i class="fa fa-envelope"></i> Contact Us</a>
                            </div>
                        </div>
                        <!-- end callout -->

                    </div>
                    <!-- end section content -->

                </div>
                <!-- end container -->

            </section>
            <!-- end section -->

        </main>
<%= render "pages/footer" %>
