<%= render "pages/navbar" %>
<main id="main">

            <!-- start page title section -->
            <section class="page-title section dark" style="background-color:#3296c9;">
                <div class="container">
                    <div class="row">
                        <div class="col-9">
                            <!-- start page title -->
                            <header class="section-header content-header">
                                <h1 class="title">What we do – <i>The BackOffice Services</i></h1>
                                <h4>Your BackOffice Assistant works with our internal team of writers,<br> marketers, receptionists and others to provide you all the<br> BackOffice Services. Think of it as 5 employees all in one.</h4>
                                <p style="color:white;" >(Want something not listed below? We do new stuff all the time.<%= link_to " Let us know here", contact_us_path, :style => "color:black;"%> </a> or talk to your BackOffice Assistant and we'll work something out.)</p>
                            </header>
                            <!-- end page title -->
                        </div>

                        <div class="col-27">
                            <!-- an empty space, you can add image or additional text here -->
                        </div>
                    </div>
                </div>
            </section>
            <!-- end page title section -->

            <!-- start section -->
            <section class="section light">

                <!-- start container -->
                <div class="container">

                    <!-- start section content -->
                    <div class="section-content">

                        <div class="row">
                            <div class="col-25">
                                <p><%= image_tag "admin.png" %></p>
                            </div>

                            <div class="col-20 big-icon">
                                <header class="content-header v3">
                                    <h2>Administrative Assistance</h2>
                                </header>

                                <p>Think of this as more of a brainstorm list. In reality, we’ll do whatever we can to make your life (business and personal) better. Just let us know what we can help with!
</p>

                                <div class="iconboxes">
                                    <aside class="iconbox text-left">
                                        <div class="icon circle primary">
                                            <i class="fa fa-check"></i>
                                        </div>
                                        <div class="iconbox-content">
                                            <h4 class="title list-item">Microsoft Word, PowerPoint, and Excel Tasks</h4>
                                        </div>
                                    </aside>

                                    <aside class="iconbox text-left">
                                        <div class="icon circle primary">
                                            <i class="fa fa-check"></i>
                                        </div>
                                        <div class="iconbox-content">
                                            <h4 class="title list-item">Google Docs Tasks</h4>
                                        </div>
                                    </aside>

                                    <aside class="iconbox text-left">
                                        <div class="icon circle primary">
                                            <i class="fa fa-check"></i>
                                        </div>
                                        <div class="iconbox-content">
                                            <h4 class="title list-item">Update your CRM</h4>
                                        </div>
                                    </aside>

                                    <aside class="iconbox text-left">
                                        <div class="icon circle primary">
                                            <i class="fa fa-check"></i>
                                        </div>
                                        <div class="iconbox-content">
                                            <h4 class="title list-item">Write and mail thank you notes</h4>
                                        </div>
                                    </aside>

                                    <aside class="iconbox text-left">
                                        <div class="icon circle primary">
                                            <i class="fa fa-check"></i>
                                        </div>
                                        <div class="iconbox-content">
                                            <h4 class="title list-item">Transcribe voice recordings</h4>
                                        </div>
                                    </aside>

                                    <aside class="iconbox text-left">
                                        <div class="icon circle primary">
                                            <i class="fa fa-check"></i>
                                        </div>
                                        <div class="iconbox-content">
                                            <h4 class="title list-item">Find contact info</h4>
                                        </div>
                                    </aside>

                                    <aside class="iconbox text-left">
                                        <div class="icon circle primary">
                                            <i class="fa fa-check"></i>
                                        </div>
                                        <div class="iconbox-content">
                                            <h4 class="title list-item">Type up your hand written notes</h4>
                                        </div>
                                    </aside>

                                </div>
                            </div>
                        </div>
                        <br><br>

<div style="text-align:center;">
  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
</div>

                        <br><br>
                        <div class="row">
                            <div class="col-25">

                                <p><%= image_tag "cal.png" %></p>
                            </div>

                            <div class="col-20 big-icon">
                                <header class="content-header v3">
                                    <h2>Calendar Help &amp; Travel Planning</h2>
                                </header>

                                <p>Need to book a trip? Trying to schedule a meeting with four other people? An assistant can do that all for you. What about dinner reservations? Yeah, we can research the best places and book the reservation, too.</p>

                                <div class="iconboxes">
                                    <aside class="iconbox text-left">
                                        <div class="icon circle primary">
                                            <i class="fa fa-check"></i>
                                        </div>
                                        <div class="iconbox-content">
                                            <h4 class="title list-item">Book your flights, hotels, and car rentals<br> (with your preferred vendors)</h4>
                                        </div>
                                    </aside>

                                    <aside class="iconbox text-left">
                                        <div class="icon circle primary">
                                            <i class="fa fa-check"></i>
                                        </div>
                                        <div class="iconbox-content">
                                            <h4 class="title list-item">Schedule meetings</h4>
                                        </div>
                                    </aside>

                                    <aside class="iconbox text-left">
                                        <div class="icon circle primary">
                                            <i class="fa fa-check"></i>
                                        </div>
                                        <div class="iconbox-content">
                                            <h4 class="title list-item">Make dinner reservations</h4>
                                        </div>
                                    </aside>

                                    <aside class="iconbox text-left">
                                        <div class="icon circle primary">
                                            <i class="fa fa-check"></i>
                                        </div>
                                        <div class="iconbox-content">
                                            <h4 class="title list-item">Confirm meeting details</h4>
                                        </div>
                                    </aside>

                                </div>
                            </div>
                        </div>
                    </div>
                    <br>

<div style="text-align:center;">
  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
</div>

                        <br><br>
                        <div class="row">
                            <div class="col-25">
                                <p><%= image_tag "pig.png" %></p>
                            </div>

                            <div class="col-20 big-icon">
                                <header class="content-header v3">
                                    <h2>Billing &amp; Collections</h2>
                                </header>

                                <p>You have invoices that are past due but (rightly so) don’t want to be the bad guy collecting them. That’s fine. Let us make friendly phone calls and get in touch with your outstanding clients. We’ll represent your brand well, and you won’t have to bug your clients.
</p>

                                <div class="iconboxes">
                                    <aside class="iconbox text-left">
                                        <div class="icon circle primary">
                                            <i class="fa fa-check"></i>
                                        </div>
                                        <div class="iconbox-content">
                                            <h4 class="title list-item">Send invoices</h4>
                                        </div>
                                    </aside>

                                    <aside class="iconbox text-left">
                                        <div class="icon circle primary">
                                            <i class="fa fa-check"></i>
                                        </div>
                                        <div class="iconbox-content">
                                            <h4 class="title list-item">Friendly reminder calls to past-due clients</h4>
                                        </div>
                                    </aside>

                                    <aside class="iconbox text-left">
                                        <div class="icon circle primary">
                                            <i class="fa fa-check"></i>
                                        </div>
                                        <div class="iconbox-content">
                                            <h4 class="title list-item">Expense reports</h4>
                                        </div>
                                    </aside>

                                </div>
                            </div>
                        </div>
                        <br><br>
<div style="text-align:center;">
  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
</div>

                        <br><br>
                        <div class="row">
                            <div class="col-25">
                                <p><%= image_tag "social.png" %></p>
                            </div>

                            <div class="col-20 big-icon">
                                <header class="content-header v3">
                                    <h2>Marketing &amp; Social Media</h2>
                                </header>

                                <p>Twitter, Facebook, Pinterest, LinkedIn… social media is unavoidable but takes a ton of time. We got you covered here, too. We’ll respond to customers and take care of them for you. </p>

                                <div class="iconboxes">
                                    <aside class="iconbox text-left">
                                        <div class="icon circle primary">
                                            <i class="fa fa-check"></i>
                                        </div>
                                        <div class="iconbox-content">
                                            <h4 class="title list-item">Proofread and schedule blog posts</h4>
                                        </div>
                                    </aside>

                                    <aside class="iconbox text-left">
                                        <div class="icon circle primary">
                                            <i class="fa fa-check"></i>
                                        </div>
                                        <div class="iconbox-content">
                                            <h4 class="title list-item">Write press releases</h4>
                                        </div>
                                    </aside>

                                    <aside class="iconbox text-left">
                                        <div class="icon circle primary">
                                            <i class="fa fa-check"></i>
                                        </div>
                                        <div class="iconbox-content">
                                            <h4 class="title list-item">Social media updates</h4>
                                        </div>
                                    </aside>

                                    <aside class="iconbox text-left">
                                        <div class="icon circle primary">
                                            <i class="fa fa-check"></i>
                                        </div>
                                        <div class="iconbox-content">
                                            <h4 class="title list-item">Respond to customers on social media</h4>
                                        </div>
                                    </aside>

                                </div>
                            </div>
                        </div>

                        <br><br>
                    </div>
                    <!-- end section content -->

                  </section>

                  <section id="section-callout" class="section dark" style="background-color:#3296c9;">

                      <!-- start container -->
                      <div class="container">

                          <!-- start section content -->
                          <div class="section-content">

                              <!-- start callout -->
                              <div class="callout">
                                  <div class="callout-text">
                                      <h2>Ready to get started?</h2>
                                      <p style="color:white;">All plans come with a 14-day money-back guarantee</p>
                                  </div>

                                  <div class="callout-button">
                                      <a style="color:black;" href="<%= pricing_path %>" class="button large yellow">See Pricing Options</a>
                                  </div>
                              </div>
                              <!-- end callout -->

                          </div>
                          <!-- end section content -->

                      </div>
                      <!-- end container -->

                  </section>

        </main>
<%= render "pages/footer" %>
