<!DOCTYPE html>
<html>
<head>
  <title>BackOffice</title>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, width=device-width">
  <%= favicon_link_tag 'favicon.ico' %>
  <%= render "layouts/css_head" %>
  <%= render "layouts/js_head" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<%= render "layouts/js_footer" %>
</body>
</html>
